@tailwind base;
@tailwind components;
@tailwind utilities;

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&display=swap" rel="stylesheet">

:root {
  color:black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #f5f5f5;
  font-family: 'Noto-sans', sans-serif;
}

h2 {
  color: #1B1A17;
}

h4 {
  color: #E45826;
  font-weight: bold;
}

.special-font {
  font-family: 'Abril Fatface', serif;
  font-family: 'Bebas Neue', sans-serif;

}
